%% -*- erlang -*-

{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", "3.2.4"}}
       ]}.

%% == Directories ==

%% directory for artifacts produced by rebar3
{base_dir, "_build"}.
%% directory in '<base_dir>/<profile>/' where deps go
{deps_dir, "lib"}.
%% where rebar3 operates from; defaults to the current working directory
{root_dir, "."}.
%% where checkout dependencies are to be located
{checkouts_dir, "_checkouts"}.
%% directory in '<base_dir>/<profile>/' where plugins go
{plugins_dir, "plugins"}.
%% directories where OTP applications for the project can be located
{project_app_dirs, ["."]}.
%% Directories where source files for an OTP application can be found
{src_dirs, ["src"]}.
%% Paths to miscellaneous Erlang files to compile for an app
%% without including them in its modules list
{extra_src_dirs, []}.
%% Path where custom rebar3 templates could be found
{template_dir, []}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

%% == Cover ==

%% Whether to enable coverage reporting where commands support cover. Default
%% is `false'
{cover_enabled, false}.

%% Options to pass to cover provider
{cover_opts, [verbose]}.

{provider_hooks, [{pre, [{compile, clean}]}]}.

%% == Release ==
{relx, [{release, {pool, "1.0"},
         [pool,observer,wx,runtime_tools]},
        {include_erts, false},
        {extended_start_script, true}
]}.

{profiles,
 [
  {dev, [{relx,
          [{dev_mode, true},
           {include_erts, true},
           {system_libs, false},
           {include_src, false},
           {extended_start_script, true}]}]}
 ]
}.
